@charset "UTF-8";

#nav1{
	background-image: url(nav1.gif);
	
}
#nav2{
	background-image: url(nav2.gif);
}
#nav3{
	background-image: url(nav3.gif);
}

nav ul li {
	float: left;
	width: 240px;
	height:40px;
	
}
body{
width:840px;
padding-top:40px;
margin-right:auto;
margin-left:auto;
}
h2{
color:red;
}
nav ul{
list-style-type:none;
padding-left:0;
overflow:hidden;
}
nav ul li a{
overflow:hidden;
display:block;
padding-top:40px;
height:0
}
